<h1>Display</h1>
<table class="table table-striped">
                <thead>
                <tr>
                    <th>地名</th>
                    <th>總數</th>
                    <th>剩餘</th>
                </tr>
                </thead>
                <tbody>
                    {{#each title}}
                      {{#each this}}  
                <tr>
                    <td>{{ this.sbi }}</td>
                    <td>{{ this.sna }}</td>
                    <td>{{ this.mday }}</td>
                    


                </tr>
                    {{/each}}
                {{/each}}
                </tbody>
            </table>