<h1>Display</h1>
<table class="table table-striped">
                <thead>
                <tr>
                    <th>剩餘</th>
                    <th>地名</th>
                    <th>日期</th>
                </tr>
                </thead>
                <tbody>
                    {{#each title}}
                        {{#each this}}
                <tr>
                    <td>{{ this.sbi }}</td>
                    <td>{{ this.sna }}</td>
                    <td>{{ this.mday }}</td>
                    


                </tr>
                        {{/each}}
                    {{/each}}
                </tbody>
            </table>