<h1>Display {{title}}</h1>
<div id="my-container" class="table-responsive">
<table class="table table-striped">
	<thead>
		<tr>
		<th>position</th>
		<th>total bike</th>
		<th>rest bike</th>
		</tr>
	</thead>
	<tbody>
		{{#each jsonData.retVal}}
		<tr>
			<td>{{ sna }}</td>
			<td>{{ tot }}</td>
			<td>{{ sbi }}</td>
		</tr>
		{{/each}}
</tbody>
	
</table>
 </div>