<h1>Display {{title}}</h1>
<h2>{{{jsonData.BusInfo.1.BusID}}}</h2>
<div id="my-container" class="table-responsive">
<table class="table table-striped">
	<thead>
		<tr>
		<th>BusID</th>
		<th>StatusCode</th>
		</tr>
	</thead>
	
</table>
 </div>